header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 200;
}

header .container {
    border-bottom: 1px solid #dddddd;
}

header .container .logo {
    height: 70px;
}

header .container .logo img {
    margin-top: 12.5px;
    height: 50px;
}
